footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: relative;
  background-color: #F1F1F1;
  text-align: left;
}

.grid-text a {
    color: inherit;
    text-decoration: none;
  }

.grid-text a:hover {
    text-decoration: none;
  }

.grid-text a:visited {
    text-decoration: none;
  }

.navbar li.nav-item a.nav-link span {
  color: #164a58 !important;
}